@use "../abstracts";

.checkout-page {
    padding-bottom: 50px;
    background: var(--checkout-page-bg);
    color: var(--checkout-text-color);

    @include abstracts.screen(md) {
        padding: 20px 0 30px;
    }
}

.checkout-container {
    margin-top: 30px;

    @include abstracts.screen(md) {
        margin-top: 20px;
    }
}

.cart-info {
    padding: 30px;
    border-radius: 20px;
    background: var(--checkout-cart-info-bg);
    box-shadow: 0 20px 60px 10px var(--checkout-cart-info-shadow);

    @include abstracts.screen(lg) {
        padding: 16px;
    }

    @include abstracts.screen(md) {
        margin-bottom: 20px;
    }

    &__heading {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 141.667%;

        @include abstracts.screen(md) {
            font-size: 1.8rem;
            line-height: 150%;
        }
    }

    &__title {
        margin: 30px 0;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            margin-bottom: 16px;
        }
    }

    &__separate {
        margin: 30px 0;
        height: 1px;
        width: 100%;
        background: var(--cart-item-input-border);

        @include abstracts.screen(md) {
            margin: 16px 0;
        }
    }

    &__edit-btn {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1.8rem;
        line-height: 144.444%;
        cursor: pointer;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        @include abstracts.screen(lg) {
            flex-direction: column-reverse;
            align-items: flex-start;
            gap: 30px;
        }
    }

    &__back {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        &-icon {
            transition: translate 0.3s;
        }

        &:hover &-icon {
            translate: -4px;
        }
    }

    &__payment {
        width: min(278px, 100%);
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        @include abstracts.screen(sm) {
            font-size: 1.6rem;
            line-height: 150%;
        }

        &-bold {
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 145.455%;
        }

        + .cart-info__row {
            margin-top: 10px;
        }
    }

    &__label,
    &__value {
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
    }

    &__label-sub {
        font-weight: 400;
    }

    &__continue {
        margin-top: 30px;

        @include abstracts.screen(sm) {
            font-size: 1.6rem;
        }
    }

    + .cart-info {
        margin-top: 30px;

        @include abstracts.screen(md) {
            margin-top: 20px;
        }
    }

    &__checkbox {
        &-input {
            appearance: none;

            &::before {
                cursor: pointer;
                content: url("../icons/checkbox-uncheck.svg");
                filter: var(--checkout-icon-theme);
            }

            &:checked::before {
                content: url("../icons/checkbox-checked.svg");
                filter: none;
            }
        }

        &:has(:checked) ~ .payment-item__cost {
            color: inherit;
        }
    }

    &__sub-heading {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;

        @include abstracts.screen(sm) {
            font-size: 1.6rem;
            line-height: 150%;
        }

        &--lv2 {
            font-size: 1.8rem;
            line-height: 144.444%;

            @include abstracts.screen(sm) {
                font-size: 1.5rem;
                line-height: 146.667%;
            }
        }
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    &__desc {
        margin-top: 6px;
        font-size: 1.5rem;
        line-height: 146.667%;
    }
}

.gift-item {
    display: flex;
    align-items: center;
    gap: 20px;

    &__icon-wrap {
        padding: 10px;
        border-radius: 14px;
        background: var(--gift-item-icon-wrap-bg);
        box-shadow: 0 20px 60px 10px var(--gift-item-icon-wrap-shadow);
    }

    &__icon {
        display: block;
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__desc {
        margin-top: 10px;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2rem;
    }
}

.checkout__icon--theme {
    filter: var(--checkout-icon-theme);
}

.user-address {
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include abstracts.screen(lg) {
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
        }
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            font-size: 1.6rem;
            line-height: 150%;
        }
    }

    &__desc {
        margin-top: 4px;
        font-size: 1.5rem;
        line-height: 146.667%;

        @include abstracts.screen(md) {
            font-size: 1.4rem;
            line-height: 142.857%;
        }
    }

    &__btn {
        height: 40px;
        gap: 10px;
        cursor: pointer;

        @include abstracts.screen(md) {
            height: 46px;
        }
    }

    &__list {
        margin: 30px 0;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__message {
        font-weight: 500;
    }

    &__link {
        color: #0071dc;
    }
}

.payment-item {
    margin-top: 30px;
    padding: 30px;
    border-radius: 20px;
    background: var(--payment-item-bg);

    @include abstracts.screen(md) {
        margin-top: 20px;
        padding: 16px;
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--initial {
            justify-content: initial;
            gap: 20px;

            @include abstracts.screen(sm) {
                align-items: flex-start;
                gap: 16px;
            }
        }
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        @include abstracts.screen(sm) {
            font-size: 1.6rem;
            line-height: 150%;
        }
    }

    &__desc {
        margin-top: 4px;
        font-size: 1.5rem;
        line-height: 146.667%;

        @include abstracts.screen(sm) {
            font-size: 1.4rem;
            line-height: 142.857%;
        }

        &--low {
            color: #9e9da8;
            font-size: 1.6rem;
            line-height: 150%;

            @include abstracts.screen(sm) {
                font-size: 1.4rem;
                line-height: 142.857%;
            }
        }
    }

    &__detail {
        font-size: 1.5rem;
        line-height: 146.667%;

        &:hover {
            font-weight: 500;
            text-decoration: underline;
        }
    }

    &__thumb {
        width: 70px;
        height: 54px;
        object-fit: cover;

        @include abstracts.screen(sm) {
            width: 60px;
            height: 46px;
        }
    }

    &__content {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: space-between;

        @include abstracts.screen(sm) {
            flex-direction: column;
            gap: 16px;
            align-items: flex-start;
        }
    }

    &__cost-wrap {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        gap: 14px;
        cursor: pointer;
    }

    &__cost {
        color: #9e9da8;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
        cursor: pointer;
    }
}

.payment-page {
    &__form:has(:invalid) ~ &__btn {
        opacity: 0.5;
        pointer-events: none;
    }

    &__input {
        margin: 30px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include abstracts.screen(md) {
            gap: 10px;
            margin: 20px 0;
        }

        &--row {
            margin: 30px 0;
            display: flex;
            gap: 20px;

            @include abstracts.screen(md) {
                margin: 20px 0;
                gap: 10px;
            }

            > * {
                margin: 0;
            }
        }
    }

    &__label-input {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__text-input {
        font-size: 1.8rem;
        font-weight: 500;

        width: 100%;
        height: 50px;
        padding: 0 12px;
        border-radius: 10px;
        border: 1px solid var(--input-no-label-border);

        &::placeholder {
            color: var(--payment-text-input-color);
        }
    }

    &__btn {
        margin-top: 30px;
        height: 68px;

        @include abstracts.screen(lg) {
            height: 48px;
        }
    }
}
