@use "../abstracts";

%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign {
    &__row {
        display: flex;

        @supports (-webkit-touch-callout: none) {
            min-height: -webkit-fill-available;
        }

        @include abstracts.screen(lg) {
            position: relative;
        }
    }

    &__intro {
        width: 50vw;
        height: 100vh;
        @extend %flex-center;
        background: var(--sign-intro-bg);

        @include abstracts.screen(lg) {
            position: fixed;
            width: 100%;
            z-index: 1;
            flex-direction: column;
            justify-content: space-between;
            padding: 50px 0 30px;
            transition: translate 0.5s;

            &.hide {
                translate: -100%;
            }
        }

        @include abstracts.screen(sm) {
            padding: 80px 0 50px;
        }

        &-desc {
            margin-top: 49px;
            width: 100%;
            text-align: center;

            color: var(--sign-intro-text-color);
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;
        }
    }

    &__img-wrap {
        width: 422px;

        @include abstracts.screen(lg) {
            text-align: center;
        }

        @include abstracts.screen(sm) {
            width: 315px;
        }
    }

    &__img {
        width: 100%;
    }

    &__content {
        width: 50vw;
        height: 100vh;
        @extend %flex-center;
        overflow-y: auto;

        @include abstracts.screen(lg) {
            width: 100%;
        }

        &--inner {
            padding: 16px;
            width: 460px;
            // min-height: 100%;
            @extend %flex-center;
            flex-direction: column;

            @include abstracts.screen(xl) {
                width: 420px;
            }

            @include abstracts.screen(lg) {
                width: 500px;
            }

            @include abstracts.screen(md) {
                padding: 0 30px;
            }
        }
    }

    &__heading {
        margin-top: 40px;
        color: var(--sign-content-heading);
        font-size: 3rem;
        font-weight: 500;
        line-height: 146.667%;

        @include abstracts.screen(md) {
            margin-top: 50px;
            font-size: 2.2rem;
            line-height: 145.455%;
        }
    }

    &__desc {
        margin-top: 10px;
        width: 100%;
        color: #9e9da8;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;

        @include abstracts.screen(md) {
            font-size: 1.4rem;
            line-height: 142.857%;
        }
    }

    &__form {
        margin-top: 52px;
        width: 100%;

        @include abstracts.screen(md) {
            margin-top: 30px;
        }

        &--mt-short {
            margin-top: 40px;
        }

        &-group {
            display: flex;
            flex-direction: column;
            gap: 18px;

            ~ .sign__form-group {
                margin-top: 24px;

                @include abstracts.screen(md) {
                    margin-top: 20px;
                    gap: 20px;
                }
            }

            &--row {
                flex-direction: row;
                gap: 30px;

                @include abstracts.screen(md) {
                    flex-direction: column;
                    gap: 20px;
                }

                > * {
                    flex: 1;
                }
            }
        }

        &:has(:invalid) ~ .sign__btn:not(.sign__btn--gmail) {
            opacity: 0.5;
            pointer-events: none;
        }
    }

    &__utility {
        margin-top: 18px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include abstracts.screen(md) {
            margin-top: 20px;
        }
    }

    &__card-label {
        position: relative;
        display: flex;
        align-items: center;
        gap: 8px;

        color: var(--sign-card-label-color);
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
        cursor: pointer;
        user-select: none;

        @include abstracts.screen(md) {
            font-size: 1.5rem;
            line-height: 142.857%;
        }

        &::before {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            border: 2px solid var(--sign-card-label-color);
            border-radius: 5px;
            transition: background-color 0.2s;
        }

        &::after {
            content: "";
            position: absolute;
            top: 6px;
            left: 4px;
            height: 6px;
            width: 12px;
            border: 2px solid var(--sign-card-label-color);
            border-color: transparent transparent currentColor currentColor;
            rotate: -45deg;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.2s, visibility 0.2s;
        }
    }

    input[type="checkbox"]:checked ~ &__card-label::after {
        opacity: 1;
        visibility: visible;
        border-color: transparent transparent #fff #fff;
    }

    input[type="checkbox"]:checked ~ &__card-label::before {
        border: none;
        background: #67b044;
    }

    &__recovery {
        color: #0071dc;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;

        @include abstracts.screen(md) {
            font-size: 1.5rem;
            line-height: 142.857%;
        }
    }

    &__btn {
        width: 100%;
        margin-top: 40px;
        border-radius: 10px;
        cursor: pointer;

        @include abstracts.screen(md) {
            margin-top: 50px;
        }

        &--gmail {
            color: var(--sign-btn-gmail);
            filter: var(--sign-btn-gmail-icon);
            margin-top: 24px;
            display: flex;
            align-items: center;
            gap: 10px;

            @include abstracts.screen(md) {
                margin-top: 30px;
            }
        }
    }

    &__other {
        margin-top: 60px;
        display: flex;
        align-items: center;
        gap: 10px;

        &-desc {
            color: var(--sign-card-label-color);
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 144.444%;

            @include abstracts.screen(md) {
                font-size: 1.6rem;
                line-height: 150%;
            }
        }

        &-link {
            color: #0071dc;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;

            @include abstracts.screen(md) {
                font-size: 1.6rem;
                line-height: 150%;
            }
        }
    }
}

.sign-up {
    &__intro-logo {
        display: none;

        @include abstracts.screen(lg) {
            display: flex;
        }
    }

    &__nav {
        display: none;
        align-items: center;
        gap: 13px;

        @include abstracts.screen(lg) {
            display: flex;
        }
    }

    &__dot {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: var(--sign-up-dot);
        cursor: pointer;

        &.active {
            background: #b9babe;
        }
    }

    &__arrow {
        cursor: pointer;
    }
}

.sign-in {
    @include abstracts.screen(lg) {
        &__intro {
            display: none;
        }
    }
}
