@use "../abstracts";

html {
    /* Header */
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(5%) sepia(16%) saturate(5984%) hue-rotate(230deg) brightness(104%)
        contrast(92%);

    --header-bg-color: #eee;
    --bg-color: #f6f6f6;
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-separate-color: #ededf6;
    --top-act-user-shadow: rgba(0, 0, 0, 0.08);

    /* Dropdown */
    --dropdown-bg-color: #fff;
    --dropdown-shadow: rgba(200, 200, 200, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(14%) hue-rotate(229deg)
        brightness(102%) contrast(106%);
    --top-menu-main-border-color: #d2d1d6;
    --menu-column-text-color: #1a162e;

    @include abstracts.screen(lg) {
        --header-bg-color: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.2);
    }

    /* Sidebar */
    --sidebar-shadow-color: rgba(200, 200, 200, 0.4);

    /* Cate-item */
    --cate-item-bg: #eee;
    --cate-item-thumb-bg: #fff;
    --cate-item-title-color: #000;

    @include abstracts.screen(md) {
        --cate-item-bg: #fff;
    }

    /* Product-card */
    --product-card-bg: #fff;
    --product-card-shadow: rgba(237, 237, 246, 0.2);

    /* Button */
    --filter-btn-bg: #fff;
    --filter-btn-text-color: #6c6c72;

    @include abstracts.screen(md) {
        --filter-btn-text-color: #1a162e;
    }

    --like-btn-bg: #fff;

    // Filter
    --filter-bg-color: #fff;
    --filter-shadow: rgba(200, 200, 200, 0.4);
    --filter-slider-circle: #fff;
    --filter-form-tag-bg: #f8f8fb;

    // Btn Outline
    --btn-outline-border: #d2d1d6;
}
