@use "../abstracts";

html {
    /* Header */
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(5%) sepia(16%) saturate(5984%) hue-rotate(230deg) brightness(104%)
        contrast(92%);

    --header-bg-color: #eee;
    --bg-color: #f6f6f6;
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-separate-color: #ededf6;
    --top-act-user-shadow: rgba(0, 0, 0, 0.08);

    /* Dropdown */
    --dropdown-bg-color: #fff;
    --dropdown-shadow: rgba(200, 200, 200, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(14%) hue-rotate(229deg)
        brightness(102%) contrast(106%);
    --top-menu-main-border-color: #d2d1d6;
    --menu-column-text-color: #1a162e;

    @include abstracts.screen(md) {
        --header-bg-color: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.2);
    }

    /* Sidebar */
    --sidebar-shadow-color: rgba(200, 200, 200, 0.4);

    /* Cate-item */
    --cate-item-bg: #eee;
    --cate-item-thumb-bg: #fff;
    --cate-item-title-color: #000;

    @include abstracts.screen(md) {
        --cate-item-bg: #fff;
    }

    /* Product-card */
    --product-card-bg: #fff;
    --product-card-shadow: rgba(237, 237, 246, 0.2);

    /* Button */
    --filter-btn-bg: #fff;
    --filter-btn-text-color: #6c6c72;

    @include abstracts.screen(md) {
        --filter-btn-text-color: #1a162e;
    }

    --like-btn-bg: #fff;

    // Filter
    --filter-bg-color: #fff;
    --filter-shadow: rgba(200, 200, 200, 0.4);
    --filter-slider-circle: #fff;
    --filter-form-tag-bg: #f8f8fb;

    // Btn Outline
    --btn-outline-border: #d2d1d6;

    // Footer
    --footer-bg-color: var(--header-bg-color);
    --footer-social-bg: var(--like-btn-bg);
    --footer-link-color: #6c6c72;

    @include abstracts.screen(lg) {
        --footer-social-bg: #f0eeee;
    }

    // Sign
    --sign-intro-bg: #fff;
    --sign-intro-text-color: #1a162e;
    --sign-content-heading: var(--sign-intro-text-color);
    --sign-card-label-color: #9e9da8;
    --sign-up-dot: #ededf6;

    // Input
    --input-no-label-border: #d2d1d6;
    --input-no-label-placeholder: var(--input-no-label-border);
    --input-no-label-icon: brightness(0) saturate(100%) invert(70%) sepia(10%) saturate(233%) hue-rotate(206deg)
        brightness(89%) contrast(90%);

    // Search bar
    --search-bar-bg: #fff;
    --search-bar-placeholder: #9e9da8;

    // Product-page
    --product-page-bg: #fff;
    --product-wrap-shadow: rgba(237, 237, 246, 0.2);
    --prod-wrap-bg: #fff;
    --product-preview-thumb-border: rgb(237, 237, 246, 0.8);
    --product-preview-thumb-border-hover: #ededf6;
    --product-preview-thumb-border-current: #1a162e;
    --product-info-bg: #f6f6f6;
    --product-info-text-color: var(--text-color);
    --product-select-border: #d2d1d6;
    --product-info-tag-bg: #ededf6;
    --prod-pay-text: #000;

    @include abstracts.screen(md) {
        --product-page-bg: #fafafd;
    }

    // Checkout page
    --checkout-page-bg: inherit;
    --checkout-text-color: var(--text-color);
    --checkout-cart-info-bg: #fff;
    --checkout-cart-info-shadow: rgba(237, 237, 246, 0.2);
    --gift-item-icon-wrap-bg: rgb(118, 68, 225, 0.1);
    --gift-item-icon-wrap-shadow: rgba(237, 237, 246, 0.2);

    @include abstracts.screen(md) {
        --checkout-page-bg: #fafafd;
    }

    // Breadcrumbs
    --breadcrumbs-bg: #fff;
    --breadcrumbs-shadow: rgba(237, 237, 246, 0.2);
    --product-page-breadcrumbs-bg: #f6f6f6;

    @include abstracts.screen(md) {
        --product-page-breadcrumbs-bg: #fff;
    }

    // Review card
    --review-card-bg: #fafafd;

    // Act dropdown
    --act-dropdown-bg: #fff;
    --act-dropdown-shadow: rgba(200, 200, 200, 0.4);
    // --act-dropdown-text-color: var(--text-color);
    --act-dropdown-bottom-border: #d2d1d6;

    // Cart item
    --cart-item-input-border: #d2d1d6;

    // Dialog
    --dialog-bg-color: #fff;
    --dialog-shadow: rgba(237, 237, 246, 0.2);

    // Payment item
    --payment-item-bg: #f6f6f6;
    --payment-text-input-color: #d2d1d6;

    @include abstracts.screen(md) {
        --payment-item-bg: #fafafd;
    }
}
