@use "../abstracts";

.input {
    display: block;
    height: 50px;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    font-size: 1.8rem;

    @include abstracts.screen(md) {
        font-size: 1.6rem;
    }

    &__textarea,
    &__no-label {
        padding: 12px;
        border-color: var(--input-no-label-border);
        display: flex;
        align-items: center;
        transition: border-color 0.25s;

        &:focus-within {
            border-color: #77dae6;
        }
    }

    &__textarea {
        height: 120px;

        &--field {
            resize: none;
            height: 100%;
        }
    }

    &__textarea--field,
    &__no-label--text {
        flex: 1;
        width: 100%;

        &::placeholder {
            color: var(--input-no-label-placeholder);
            font-size: 1.8rem;
            font-weight: 500;

            @include abstracts.screen(md) {
                font-size: 1.6rem;
            }
        }
    }

    &__no-label {
        gap: 10px;
        position: relative;

        &:has(:invalid):has(&--text:not(:placeholder-shown)) {
            border-color: red;
            background: rgba($color: red, $alpha: 0.1);

            .input__no-label--icon {
                display: none;

                &-error {
                    display: block;
                    animation: shake 0.8s;
                }
            }

            ~ .form__error {
                display: block;
            }
        }

        &--icon {
            filter: var(--input-no-label-icon);
            width: 24px;
            height: 24px;

            &-error {
                display: none;
                filter: brightness(0) saturate(100%) invert(16%) sepia(87%) saturate(5858%) hue-rotate(360deg)
                    brightness(106%) contrast(125%);
            }
        }
    }

    &__select-dialog {
        position: absolute;
        left: 10px;
        bottom: 54px;

        display: flex;
        flex-direction: column;
        gap: 10px;

        opacity: 0;
        visibility: hidden;
        translate: 0 8px;
        transition: opacity, visibility, translate;
        transition-duration: 0.3s;

        min-width: 230px;
        max-height: 320px;
        background: var(--dialog-bg-color);
        padding: 0px 0px 10px;
        border-radius: 10px;
        border: 1px solid var(--input-no-label-border);
        box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.15);

        &.show {
            opacity: 1;
            visibility: visible;
            translate: 0;
        }
    }

    &__search {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        border-bottom: 1px solid var(--input-no-label-border);
        padding: 0px 20px;
        height: 38px;

        @include abstracts.screen(lg) {
            height: 42px;
        }

        &--field {
            height: 100%;
        }

        &--icon {
            width: 18px;
        }
    }

    &__options-list {
        flex: 1;
        overflow-y: auto;
        overscroll-behavior: contain;
    }

    &__option {
        font-size: 1.4rem;
        padding: 8px 20px;

        @include abstracts.screen(lg) {
            padding: 14px 20px;
        }

        &--current {
            font-weight: 500;
            background: rgba($color: #ffb700, $alpha: 0.5);
        }

        &:not(&--current):hover {
            background: rgba($color: #999, $alpha: 0.5);
            cursor: pointer;
        }
    }
}

.form__error {
    color: red;
    margin-top: 8px;
    font-size: 1.4rem;
    display: none;
}
